################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Hanzi2TGHZRibbon/FileContentIndex
/.vs/Hanzi2TGHZRibbon/copilot-chat/4a5632d9/sessions/a03e7cb5-0a71-4184-9edc-448e367368f5
/.vs/Hanzi2TGHZRibbon/CopilotIndices/17.12.68.61481/CodeChunks.db-shm
/.vs/Hanzi2TGHZRibbon/CopilotIndices/17.12.68.61481/CodeChunks.db-wal
/.vs/Hanzi2TGHZRibbon/CopilotIndices/17.12.68.61481/SemanticSymbols.db-wal
