################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Hanzi2TGHZRibbon/FileContentIndex
/.vs/Hanzi2TGHZRibbon/copilot-chat/
/.vs/Hanzi2TGHZRibbon/CopilotIndices/
